<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-padding bg-maroon">
        <ion-img src="assets/logo2.jpeg"></ion-img>
        <h3 text-center>Login Here</h3>
      </ion-col>
      <!-- <ion-col size="1" class="bg-yellow">
        <span class="slider-nav arrow-prev"
          (click)="slidePrev(sliderOne,slideWithNav)">
          <div class="prev-icon-custom custon-nav"
            [class.disabled]="sliderOne.isBeginningSlide"></div>
        </span>
      </ion-col> -->
      <!-- <ion-col size="10" color=warning>
 
        <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
          (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
          <ion-slide *ngFor="let s of sliderOne.slidesItems">
            <img src="../../assets/images/{{s.id}}.jpg">
          </ion-slide>
        </ion-slides>
 
      </ion-col> -->
      <!-- <ion-col size="1" class="bg-yellow">
        <span class="slider-nav arrow-next"
          (click)="slideNext(sliderOne,slideWithNav)">
          <div class="next-icon-custom custon-nav"
            [class.disabled]="sliderOne.isEndSlide"></div>
        </span>
      </ion-col> -->
    </ion-row>
  </ion-grid>
  <!-- form with input text and submit buttons -->
  
  <form (ngSubmit)="login()" [formGroup]="loginForm" name="form" class="bg-maroon">
    <ion-grid class="ion-padding">
      <ion-row>
   
        <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
          <ion-item>
            <ion-label position="floating">Username </ion-label>
            <ion-input
              type="text"
              formControlName="username"
              required
            ></ion-input>
          </ion-item>
          <ion-item
            lines="none" no-padding no-margin
            *ngIf="loginForm.get('username').touched && loginForm.get('username').hasError('required')"
          >
            <small><ion-label color="danger">
              Username is required!
            </ion-label></small>
          </ion-item>
        </ion-col>
        <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input
              type="password"
              required
              formControlName="password"
            ></ion-input>
          </ion-item>
          <ion-item
            lines="none" no-padding no-margin
            *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')"
          >
            <small><ion-label color="danger">
              Password is required!
            </ion-label></small>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <label class="custom-control-label" for="customCheck">Remember Me</label>
            <ion-checkbox  slot="start" class="custom-control-input" id="customCheck"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col  size="12">
          <ion-button
          color="warning"
            expand="block"
            type="submit"
            [disabled]="!loginForm.valid"
          >
          <ion-text *ngIf="isLoading">
            <ion-spinner  name='bubbles'></ion-spinner> 
          </ion-text>
          
          <ion-text *ngIf="!isLoading">Login</ion-text>
          </ion-button
          >
        </ion-col>
       
      </ion-row>
    </ion-grid>
  </form>
  <!-- <ion-col> -->
    <h3 class="bg-maroon" text-center (click)="routeHome()">Back</h3>
  <!-- </ion-col> -->
</ion-content>
