<ion-header>
  <ion-toolbar>
    <ion-title class="bg-maroon-i">Choose folder</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">
        <ion-icon name="close" color=bg-maroon></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content><h6 class="text-info p-20" *ngIf="rootFolder.isFetchingChildren">Loading...</h6>
<h6 class="text-info p-20" *ngIf="rootFolder && rootFolder.childFolders.length == 0">No Data available</h6>

<div class="group_section" *ngFor="let child of rootFolder.childFolders; let i=index">
  <ng-container *ngTemplateOutlet="folderTree;context:{folder:child}"> </ng-container>
</div>
<ng-template #folderTree let-folder="folder">
  <ul>
    <ng-container *ngIf="folder">
      <li>
        <div>
          <span class='clickable' (click)="getList(folder)">
            <i class="{{pathStack.indexOf(folder.id)>-1? 'fas fa-folder-open': 'fas fa-folder'}} text-warning clickable"></i> {{folder.name}}
          </span>
          <ng-container>
            <a class="clickable card-text">
              <span class="pull-right p-r-5">
                <i class="fas fa-pencil-alt text-primary clickable" title="Edit" (click)="openEditModal(folder.id)"></i>
                <!--<i class="fas fa-plus text-success clickable" title="Add Sub Folder" (click)="AddSubRepository(folder.id)"></i>
                <i class="fas fa-upload text-primary clickable" title="Upload Files" (click)="uploadAttachment(folder.id)"></i>-->
              </span>
            </a>
          </ng-container>
        </div>

        <div class="folder-tree-content" *ngIf="folder.childFolders && pathStack.indexOf(folder.id)>-1">
          <ng-container *ngIf="folder.isFetchingChildren">
            <span class="text-info p-20">Loading...</span>
          </ng-container>
          <ng-container *ngIf="!folder.isFetchingChildren">
            <div *ngFor="let child of folder.childFolders; let j=index" class="tree-folder {{!child.isVisible||'selected'}}">
              <ng-container *ngTemplateOutlet="folderTree;context:{folder:child}">
              </ng-container>
            </div>
          </ng-container>
        </div>
      </li>
    </ng-container>
  </ul>
</ng-template>
</ion-content>