ul {
    list-style-type: none;
    padding: 0px;
  }
  
  .folder-tree-content {
    padding-left: 15px;
    margin-top: 5px;
  }
  
  .p-20 {
    padding: 20px;
  }
  .bg-maroon-i{
    background-color: #800000;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;;
    padding: 1rem 1rem;
  }