<ion-header>
  <!-- <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="bg-yellow">
        <h1 text-center><strong style="color:brown">NIT</strong>ians'</h1>
      </ion-col>
      <ion-col size="1" class="bg-yellow">
        <span class="slider-nav arrow-prev"
          (click)="slidePrev(sliderOne,slideWithNav)">
          <div class="prev-icon-custom custon-nav"
            [class.disabled]="sliderOne.isBeginningSlide"></div>
        </span>
      </ion-col>
  <ion-col size="10" color=warning>
 
    <ion-slides pager="true" [options]="slideOptsOne" class="slideroption" #slideWithNav
      (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
      <ion-slide class="slide-zoom" *ngFor="let s of sliderOne.slidesItems">
        <img width="400px" height="700px" src="../../assets/images/{{s.id}}.jpeg">
      </ion-slide>
    </ion-slides>
    </ion-col>
         <ion-col size="1" class="bg-yellow">
        <span class="slider-nav arrow-next"
          (click)="slideNext(sliderOne,slideWithNav)">
          <div class="next-icon-custom custon-nav"
            [class.disabled]="sliderOne.isEndSlide"></div>
        </span>
      </ion-col>
      <ion-col size="12" class="bg-yellow">
        <h1 (click)="routeLogin()" text-center>Click here to login!</h1>
      </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>  
