ion-content{
    ion-img{
        margin-left: auto;
        margin-right: auto;
        width: 100px;
    }
   
  }
  .bg-yellow{
    background-color: #f39c12;
    border-radius: 5rem;
    // padding: 1.5rem 1rem;
  }
  
