<ion-header >
  <ion-toolbar>
    <ion-title class="bg-maroon-i">Study Material</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
  <form class="group" [formGroup]="form">
    <div class="form-group row">
      <div class="col-sm-3 mb-3 mb-sm-0">
        <ion-item>
        <ion-label>Class</ion-label>
        <ion-select
        formControlName="Class"
        placeholder="Class"
        (change)='getSubjects($event.target.value, true)'
        required
      >
        <ion-select-option
          *ngFor="let class of classData"
          [value]="class.id"
         
          >{{class.name}}</ion-select-option
        >
      </ion-select>
    </ion-item>
      </div>
      <ion-item>
        <ion-label>Subject</ion-label>
        <ion-select
        formControlName="Subject"
        placeholder="Subject"
        (change)='setSubject($event.target.value, true)'
        required
      >
        <ion-select-option
          *ngFor="let subject of subjectData"
          [value]="subject.id"
         
          >{{subject.subjectName}}</ion-select-option
        >
      </ion-select>
    </ion-item>
      <div class="col-sm-3 mb-3 mb-sm-0"></div>
    </div>
  </form>
</ion-row>
  <ion-row>
      <ion-col size="12" no-padding>
        <ion-button color="warning" expand="block" (click)="viewModal()">Folders</ion-button>
      </ion-col>
    </ion-row> 

    <ion-row>
      <ion-col size="12" text-center>
        <ion-card *ngFor="let data of rows" no-margin>
          <ion-item-sliding>
            <ion-item detail>
                <ion-label>
                  <h2 text-capitalize> 
                    {{data.name?data.name:'NA'}}
                   </h2>
                  <p>
                    {{data.createdOn | date:"dd-MM-yyyy"}}
                  </p>
                </ion-label>
                
            </ion-item>
            <!-- slide item from right -->
            <ion-item-options side="end">
              <ion-buttons>
                 <ion-button fill="clear" [routerLink]="">
                    <ion-icon slot="icon-only"  name="eye" color="primary"></ion-icon>
                </ion-button>
        
              </ion-buttons>
            </ion-item-options>
        </ion-item-sliding>
        </ion-card>
        </ion-col>
        </ion-row>
        </ion-grid>
  
</ion-content>
